<% content_for :page_css do %>
    <style>
	.content h3 {
		font-size: 24px;
		font-weight: bold;
		color: #333;
	}
	.help-body .lock_line {
		padding: 10px 3px;
	}
	img {
		display: inline-block;
	}
	.media {
		width: 250px;
		height: 167px;
		border: 1px solid #aaa;
		float: left;
		margin: 0 10px 10px 0;
		text-align: center;
	}
	#container {
		background: #fff;
		width: 720px;
		margin: 0 auto;
		zoom: 1;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
		overflow: hidden;
	}
	.help-body {
		border-left: 1px solid #eee;
		float: left;
		width: 660px;
		min-height: 450px;
		padding-left: 20px;
	}
	.help-body li {
		line-height: 1.5em;
	}
	.content ul {
		margin: 0 0 0 40px;
	}
	.content li {
		line-height: 24px;
		list-style-type: disc;
		text-align: left;
	}
	.content .body {
		padding: 10px 10px;
	}
	.content .header {
		padding: 4px 10px;
		border-bottom: 1px solid #eee;
	}
</style>
<% end %>

<div id="wrapper" style="background-color: rgb(252, 252, 252); padding-bottom: 20px;">
  <div id="container">

    <div id="content" class="content">
      <div class="help-body">
      <div class="header"><h3>Press Inquiries</h3></div>
      <div class="lock_line">

        <ul>
          <li><a href="#overview">Product Overview</a></li>
          <li><a href="#media">Digital Media</a></li>
          <li><a href="#external">External Content</a></li>
          <li><a href="#contact">Media Contact</a></li>
        </ul>
      </div>

      <div class="support_segment" id="overview">
        <div class="header"><h3>Overview</h3></div>

        <div class="body">
          <p>Linquet replaces keys with your phone. With Linquet, you can instantly grant family, friends and guests access to your home
            or business from anywhere in the world using your internet enabled smartphone.
            <br/><br/>
            Any internet enabled smartphone can use Linquet. For a small monthly fee, Linquet owners can enable text-message access
            which turns any mobile phone into a virtual key. The Linquet Android app features NFC capabilities that allows users to unlock
            or lock their door just by swiping it in front of a Linquet NFC tag.
          </p>
        </div>
      </div>

      <div class="support_segment" id="media">
        <div class="header"><h3>Digital Media</h3></div>

        <div class="body">
          <div class="media">
            <a href="http://lockitron.com/press-kit/lockitron_name.png"><img src="http://lockitron.com/press-kit/lockitron_name.png" width="250" alt="Lockitron Logo" style="padding-top: 34px"/></a>
          </div>
          <div class="media">
            <a href="http://lockitron.com/press-kit/lockitron-unit.png"><img src="http://lockitron.com/press-kit/lockitron-unit.png" width="250" alt="Lockitron"/></a></div>
          <div class="media">
            <a href="http://lockitron.com/press-kit/iphone-app.png"><img src="http://lockitron.com/press-kit/iphone-app.png" width="250" alt="Lockitron iPhone Lock"/></a></div>
          <div class="media">
            <a href="http://lockitron.com/press-kit/iphone-users.png"><img src="http://lockitron.com/press-kit/iphone-users.png" width="250" alt="Lockitron iPhone Users"/></a>
          </div>
          <div class="media">
            <a href="http://lockitron.com/press-kit/android-app.png"><img src="http://lockitron.com/press-kit/android-app.png" width="250" alt="Lockitron Android App"/></a></div>
          <div class="media" style="padding-top: 75px; height: 92px"><a href="http://lockitron.com/press-kit/press-kit-2012.zip">Download the press pack</a>
          </div>
          <div style="clear:both">

          </div>

          <br/>
          <div>
          View our introduction video <a href="<%=video_url%>">on YouTube</a> or embed it:
          <textarea style="margin-top:10px;width:510px; height: 60px; font-size: 18px;">
            <iframe width="560" height="315" src="<%=Settings.video_embed_url%>" frameborder="0" allowfullscreen></iframe>
          </textarea>

          <br/><br/>
          View our demo video <a href="<%=video_url%>">on YouTube</a> or embed it:
          <textarea style="margin-top:10px;width:510px; height: 60px; font-size: 18px;">
            <iframe width="560" height="315" src="<%=Settings.video_embed_url%>" frameborder="0" allowfullscreen></iframe>
          </textarea>
          </div>
        </div>
      </div>

      <div class="support_segment" id="external">
        <div class="header"><h3>External Content</h3></div>

        <div class="body">
          <p>
            Find out more about Linquet and its mobile applications from our social and mobile pages:
            <br/>
            <br/>
          <ul style="list-style-type: disc;">
            <li><a href="<%=Settings.android_app_url%>">Linquet Android app</a></li>
            <li><a href="<%=Settings.linquet_on_youtube%>">Linquet on YouTube</a></li>
            <li><a href="<%=Settings.linquet_on_facebook_url%>">Linquet on Facebook</a></li>
            <li><a href="<%=Settings.linquet_on_twitter_url%>">Linquet on Twitter</a></li>
            <li><a href="<%=Settings.linquet_on_youtube%>">Linquet on Google plus</a></li>
          </ul>
          </p>
        </div>
      </div>

      <div class="support_segment" id="contact">
        <div class="header"><h3>Media Contact</h3></div>

        <div class="body">
          We would love to help answer any questions that you might have at <a href="mailto:support@linquet.com?subject=Press questions for Linquet Mini">info@linquet.com</a>
            <!-- For urgent inquiries, reach out to us via our customer support line at (872) 222-8717. -->
        </div>
      </div>

      <!-- yield end -->
    </div>
    <div class="clear"></div>
  </div>

</div>
</div>

