<!DOCTYPE html><html>
<head>

  <meta charset="UTF-8">
  <title>Refer a Friend | Linquet</title>

  <!--Start CSS-->
  <link rel="stylesheet" href="https://epoma.org/css/global.css" type="text/css" media="screen" />
  <!--End CSS-->

  <!--Start SCRIPTS-->

  <script type="text/javascript" src="https://epoma.org/js/jquery-1.7.2.min.js"></script>


  <!-- jquery lightbox -->
  <link rel="stylesheet" type="text/css" href="https://epoma.org/js/lightbox/themes/default/jquery.lightbox.css" />
  <script type="text/javascript" src="https://epoma.org/js/lightbox/jquery.lightbox.min.js"></script>
  <!-- jquery lightbox -->

  <script type="text/javascript" src="https://epoma.org/js/clickable-div.js"></script>

  <!-- jQuery framework and utilities -->

  <script type="text/javascript" src="https://epoma.org/js/custom-image-fade.js"></script><!-- for image fades on hover -->
  <!-- jQuery framework and utilities -->
  <script type="text/javascript" src="https://epoma.org/js/linquet_loginout.js"></script>

  <script type="text/javascript">
	  $(document).ready(function(){
		  jQuery('#loading').fadeOut(1000);
		  $('#page_effect').fadeIn(1500);
		  $('.lightbox').lightbox();
		  setupLoginoutBtns();

	  });

  </script>

  <!--End SCRIPTS-->
</head>
<body>
<div id="header0" style="height: 50px; vertical-align: baseline; width: 100%; -moz-box-shadow: 0px 1px 3px 0px #acacac; -webkit-box-shadow: 0px 1px 3px 0px #acacac; box-shadow: 0px 1px 3px 0px #acacac; position: relative; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 26px; padding-right: 0; padding-bottom: 26px; padding-left: 0; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; background-color: #fcfcfc;">
  <div class="wrapper clearfix" style="line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; zoom: 1; width: 935px; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: auto; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;">
    <h1 id="lockitron_header" style="vertical-align: baseline; width: 300px; color: #323232; letter-spacing: -0.05em; float: left; margin-top: 0; margin-right: auto; margin-bottom: 0; margin-left: 300px; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; font-style: normal; font-variant: normal; font-weight: bold; font-size: 42px; line-height: normal; font-family: Helvetica;"><a href="https://epoma.org:7443/mini/" style="font-size: inherit !important; line-height: normal; font-style: normal; font-weight: normal; font-variant: normal; vertical-align: baseline; text-decoration: none; color: #323232; margin-top: 0; margin-right: 0; margin-bottom: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0; border-top-style: none; border-right-style: none; border-bottom-style: none; border-left-style: none; border-top-width: 0; border-right-width: 0; border-bottom-width: 0; border-left-width: 0;">Linquet Mini</a></h1>
  </div>
</div>

<div id="page-wrap">
  <div id="main-content" style="border-bottom: 1px solid gray;margin-top: 25px;">

    <div id="main-sub-page-container-small" style="text-align: center;">
      <h1 style="font-size: 20px;padding-top: 45px;">For every 3 friends who reserve Linquet Mini, <br>you'll get rewarded 1 Linquet Mini!</h1>
      <div id="validationErrorInfo" style="display: none;margin: auto;width: 300px;color:red;"></div>
      <div style="padding: 20px;width:500px;margin:auto;">
        <div style="width: 450px; margin: auto; font-size:18px">
          <p><i>Invite friends from Facebook or Twitter</i></p>

          <!--<textarea cols="58" rows="6" id="socialShareText" name="comment" style="color: #666;" size="40" type="text">Awesome! Never Lose Your Phone, Keys, Wallet or Laptop Again With @Linquet . Get it for FREE! http://db.tt/QBFzoyb #iwantthis #RETWEET </textarea>-->
        </div>
        <div style="margin:auto;width:450px">
          <button id="shareonFB" class="btn medium"><img src="https://epoma.org/images/social-icons/facebook_email.png"/><span style="position: relative;top: -21px;"> Share on Facebook</span></button>
          <button id="shareonTwitter" class="btn medium"><img src="https://epoma.org/images/social-icons/twitter_email.png"/><span style="position: relative;top: -21px;"> Share on Twitter</span></button>
        </div>
      </div>

      <div style="padding: 20px;width:450px;margin:auto;font-size:18px"> <p><i>or invite email addresses:</i></p>
        <form action="#" method="post" class="stn-form label-inline simple">


          <div class="field" style="margin:auto;margin-bottom: 20px;width:400px">
            <input id="email" style="width:100%" name="phone" type="email" value="Email Address" style="width:410px" onFocus="formElementFocus(this,'Email Address',false);"  onblur="formElementBlur(this,'Email Address',false);">
          </div>
          <div id="inviteSentText" style="position:relative;top:-15px;font-size:12px;display:none"><p>Invitation sent.<br>Invite more people to sign up to get more free months!</p></div>

          <div>
            <button id="submitBtn" class="btn large" style="padding: 26px 64px;font-size:14px !important;">Send Invite</button>
          </div>
        </form>
        <br/>
      </div>
      <p style="font-size:18px;padding-bottom: 50px;"><i>or send this link to your friends </i><br><br>
        <% referral_link = params[:r];
           logger.info(referral_link + " ------------------");
        %>


        <u><a id="refferal_link" href="<%=referral_link %>" style="font-size:12px"><%=referral_link %></a></u></p>

    </div>

  </div><!--End main-content-->

  <div id="thanks" style="display:none">
    <p style="font-size:30px">
      Thank You for Your Feedback
    </p>
  </div>

  <div id="footer">

    <p id="footer-trademark">Linquet &copy; 2013 Linquet Technologies Inc. All rights reserved.</p>


  </div>
</div><!--End page-wrap-->

<script>
	jQuery(document).ready(function($){
		$('.lightbox').lightbox();
		pageLoaded();
	});

	function formElementBlur(target,initalName,isPassword){
		if(target.value == ''){
			target.value = initalName;
			if((isPassword == true)){
				target.type = "text"
			}
		}
	}

	function formElementFocus(target,initalName,isPassword){
		if(target.value == initalName){
			target.value = '';
		}
		if(isPassword == true){
			target.type = "password"
		}
	}

	function textElementBlur(target,initalName,isPassword){
		if($(target).html() == ''){
			$(target).html(initalName);
		}
	}

	function textElementFocus(target,initalName,isPassword){
		if($(target).html() == initalName){
			$(target).html("");
		}
	}
	var refURL = 1 ;

	function pageLoaded(){

		$("#submitBtn").click(function (e) {
			e.preventDefault();
			if (validateContactForm() == false) {
				$("#validationErrorInfo").css('display', 'block');
				return false;
			} else {
				$("#validationErrorInfo").css('display', 'none');
			}
			$("#inviteSentText").css('display', 'block');

			//setTimeout(function(){$("#inviteSentText").fadeOut(1000);},5000);
			$.ajax({
				type:'POST',
				url:"/API/EmailInvite",
				dataType:"json",
				data:{
					referree_email:$("#email").val(),
					invitation_url: null
				},
				success:function (data) {
					$("#email").val("");
					setTimeout(function () {
						$("#inviteSentText").fadeOut(1000);
					}, 5000);

				}
			});
		});

		$("#shareonFB").click(function (evt) {
			window.open("http://www.facebook.com/sharer/sharer.php?u=<%=referral_link%>-fb");
		});

		$("#shareonTwitter").click(function (evt) {
			window.open("http://twitter.com/intent/tweet?original_referer=<%= URI.escape(LINQUET_MINI_URL)%>&text=<%= URI.escape("Awesome! Never Lose Your Phone, Keys or Wallet Again With Linquet. Check " + referral_link) %>-tw");
		});
	}

	function validateContactForm() {
		$("#validationErrorInfo").html("");

		if (validateEmail($("#email").val()) == false)
		{
			$("#validationErrorInfo").html("Please enter a valid email address.");
			return false;
		}

		return true;
	}

	function validateEmail(emailToValidate){

		// test if valid email address, must have @ and .
		var checkEmail = "@.";
		var checkStr = emailToValidate;
		var EmailValid = false;
		var EmailAt = false;
		var EmailPeriod = false;
		var EmailPlus = false;
		for (i = 0;  i < checkStr.length;  i++)
		{
			ch = checkStr.charAt(i);
			if (ch == "@")
				EmailAt = true;
			if (ch == "." && EmailAt == true)
				EmailPeriod = true;


			// if both the @ and . were in the string
			if (EmailAt && EmailPeriod)
			{
				EmailValid = true
				break;
			}
		}
		return EmailValid;

	}
</script>

<!--font replacement-->
<script src="js/cufon-yui.js" type="text/javascript"></script>
<script src="js/Myriad_Pro_400.font.js" type="text/javascript"></script>
<script src="js/regular.js" type="text/javascript"></script>
<script src="js/Trebuchet_MS_400-1.font.js" type="text/javascript"></script>
<script src="js/Trebuchet.js" type="text/javascript"></script>
<!--font replacement-->

</body>
</html>
