<style>
    .title {
        font-size: 20px;
    }

    h2 {
        margin-bottom: 10px;
    }

    .perk {
        margin-bottom: 15px;
    }

    .fr {
        float: right;
    }

    .dynamic_bg {
        margin-bottom: 0px;
    }
    .shadow {
        background: #d2d2d2;
        box-shadow: 1px 1px 2px #888;
    }
    .rounded {
        border-radius: 6px;
    }
    .perks-selection input {
        margin-left: 60px;
        margin-top: 15px;
        display: inline-block;
        vertical-align: top;
    }
    .perks-selection label {
        display: inline-block;
        width: auto;
        line-height: normal;
        margin: 0;
    }
    .perks-selection .perk {
        width: 380px;
        font-size: 20px;
        margin-left: 170px;
        padding-bottom: 20px;
        margin-top: -20px;
    }

    .perks-selection .claimed {
        font-size: 17px;
    }
    .perks-selection .money {
        background: none;
        color: #222;
        font-family: SecondaSoft-Bold,Arial,sans-serif;
        font-size: 22px;
        line-height: 18px;
        margin: 15px 10px 0px 9px;
        padding: 0px;
        display: inline-block;
        word-wrap: break-word;
    }
    .dynamic_bg:hover {
        background-color: #abd7db !important;
        -webkit-transition: 500ms linear 0s;
        -moz-transition: 500ms linear 0s;
        -o-transition: 500ms linear 0s;
        transition: 500ms linear 0s;
        outline: 0 none;
        transition: .5s;
        cursor: pointer;
    }

</style>

<script type="text/javascript">
	function formElementBlur(target,initalName,isPassword){
		if(target.value == ''){
			target.value = initalName;
			if((isPassword == true)){
				target.type = "text"
			}
		}
	}

	function formElementFocus(target,initalName,isPassword){
		if(target.value == initalName){
			target.value = '';
		}
		if(isPassword == true){
			target.type = "password"
		}
	}
</script>

<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content" style="width:700px">
      <h3>Thanks for reserving Linquet</h3>
      <h3 style="font-size: 28px;">Please select your contribution</h3>

      <form action="checkout" method="post">
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <div id="perk-menu" class="group perks-selection"><!--graybox -->

        <div class='dynamic_bg shadow rounded'>
          <input checked="checked" id="pledge_tier_1" name="reward_tier" type="radio" value="1"/>
          <label for="pledge_tier_1">
            <div class="money">$19</div>
              <div class="perk">
                One free linquet + One year service
                <div class="claimed"> <%= @counts[1] %> claimed (Only 200 available)</div>
              </div>
          </label>
        </div>
        <hr style="display: block; height: 2px; border: 0; margin: 0; padding: 0; ">


        <div class='dynamic_bg shadow rounded'>
          <input checked="checked" id="pledge_tier_2" name="reward_tier" type="radio" value="2"/>
          <label for="pledge_tier_2">
            <div class="money">$25</div>
              <div class="perk">
                One free linquet + One year service
                <div class="claimed"> <%= @counts[2] %> claimed</div>
              </div>
          </label>
        </div>
        <hr style="display: block; height: 2px; border: 0; margin: 0; padding: 0; ">

        <div class='dynamic_bg shadow rounded'>
          <input checked="checked" id="pledge_tier_3" name="reward_tier" type="radio" value="3"/>
          <label for="pledge_tier_3">
            <div class="money">$45</div>
              <div class="perk">
                Two free linquets + One year service
                <div class="claimed"> <%= @counts[3] %> claimed</div>
              </div>
          </label>
        </div>
        <hr style="display: block; height: 2px; border: 0; margin: 0; padding: 0; ">

        <div class='dynamic_bg shadow rounded'>
          <input checked="checked" id="pledge_tier_22" name="reward_tier" type="radio" value="4"/>
          <label for="pledge_tier_4">
            <div class="money">$85</div>
              <div class="perk">
                Four free linquets + One year service
                <div class="claimed"> <%= @counts[4] %> claimed</div>
              </div>
          </label>
        </div>
        <hr style="display: block; height: 2px; border: 0; margin: 0; padding: 0; ">

        <div class='dynamic_bg shadow rounded'>
          <input checked="checked" id="pledge_tier_33" name="reward_tier" type="radio" value="5"/>
          <label for="pledge_tier_5">
            <div class="money">$195</div>
              <div class="perk">
                Ten free linquets + One year service
                <div class="claimed"> <%= @counts[5] %> claimed</div>
              </div>
          </label>
        </div>

      </div>
        <div class="clearfix input-item-submit" style="margin-top: 10px;">
          <input class="fr button rounded shadow bold" name="commit" type="submit" value="Continue ▶">
        </div>
      </form>

      <div>
        <span style="float:left"><input id="toggle_distributor" type="checkbox"></span>
        <label for="toggle_distributor" class="shadow">Become a distributor </label>
      </div>

      <div id="distributor_wrapper" style="display: none;">
        <div id="validationErrorInfo" style="display: none"></div>
        <div>
          <form action="#" method="post" class="stn-form label-inline simple">

            <div class="field contactusfield" style="margin-bottom: 20px; ">
              <br><select id="type">
              <option>Quantity to Reserve:</option>
              <option>1000</option>
              <option>5000</option>
              <option>10000</option>
              <option>50000</option>
            </select>
            </div>

            <div class="field contactusfield" style="">
              <input id="name" style="" name="name" value="Name" type="text" onfocus="formElementFocus(this,'Name',false);" onblur="formElementBlur(this,'Name',false);">
            </div>

            <div class="field contactusfield" style="">
              <input id="email" style="" name="email" type="text" value="Email" onfocus="formElementFocus(this,'Email',false);" onblur="formElementBlur(this,'Email',false);">
            </div>

            <div class="field contactusfield" style="">
              <input id="phone" style="" name="phone" type="text" value="Phone Number" onfocus="formElementFocus(this,'Phone Number',false);" onblur="formElementBlur(this,'Phone Number',false);">
            </div>

            <div class="field contactusfield" style="">
              <textarea cols="40" id="comment" name="comment" size="40" type="text" onfocus="textElementFocus(this,'Enter Your Message Here',false);" onblur="textElementBlur(this,'Enter Your Message Here',false);">Enter
                Your Message Here</textarea>
            </div>

            <div class="actionrow">
              <button id="submitBtn" class="yellow btn medium">Submit</button>
            </div>
          </form>
          <br>
        </div>
      </div>

  </div>

</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function ($) {
		$('#toggle_distributor').click(function () {
			$('#distributor_wrapper').toggle();
		})
	})
</script>