<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content">
      <h3>Check out</h3>
      <p>
        Let your backers know how their payment information will be handled.
        <br />
        <br />
        Enter your email address below.
      </p>
      <%= form_tag "/preorder/prefill", :id => "checkout" do %>
        <%= email_field_tag "email", nil, :placeholder => "hello@lockitron.com", :required => "required", :id => "email" %>
        <div id="_shipping" style="width: 100%;">
          <span class="formLabel">Shipping Details</span>

          <div class="gift_field">
            <div class="field fill_parent">
              <input id="ship_name" name="name" size="40" value="Full Name" type="text" onfocus="analyticsFocus(this,'Full Name',false);"  onblur="formElementBlur(this,'Full Name',false);" autocapitalize="on"/>
            </div>

            <div class="field fill_parent">
              <input id="ship_email" name="email" size="40" value="E-mail" type="text" onfocus="analyticsFocus(this,'E-mail',false);"  onblur="formElementBlur(this,'E-mail',false);" autocapitalize="on"/>
            </div>
          </div>

          <div class="field fill_parent">
            <input id="ship_phone" name="phone" size="40" value="Phone Number" type="text" onfocus="analyticsFocus(this,'Phone Number',false);"  onblur="formElementBlur(this,'Phone Number',false);" autocapitalize="on"/>
          </div>

          <div class="field fill_parent">
            <input id="ship_address" name="address" size="40" value="Address" type="text" onfocus="analyticsFocus(this,'Address',false);"  onblur="formElementBlur(this,'Address',false);" autocapitalize="on"/>
          </div>

          <div class="field fill_parent">
            <input id="ship_city" name="city" size="40" value="City" type="text" onfocus="analyticsFocus(this,'City',false);"  onblur="formElementBlur(this,'City',false);" autocapitalize="on"/>
          </div>

          <div class="field fill_parent">
            <input id="ship_state" name="state" size="40" value="State / Province" type="text" onfocus="analyticsFocus(this,'State / Province',false);"  onblur="formElementBlur(this,'State / Province',false);" autocapitalize="on"/>
          </div>

          <div class="field fill_parent">
            <input id="ship_postal" name="postal" size="40" value="Zip Code / Postal Code" type="text" onfocus="analyticsFocus(this,'Zip Code / Postal Code',false);"  onblur="formElementBlur(this,'Zip Code / Postal Code',false);" autocapitalize="on"/>
          </div>

          <div class="gift_field">
            <div class="field">
              <select id="ship_country">
                <option>Country:</option>
                <option>Canada</option>
                <option>USA</option>
              </select>
            </div>
        <%= hidden_field_tag "preorder", true %>
        <%= hidden_field_tag "quantity", params[:quantity] %>
        <%= submit_tag "Checkout", :class => "blue_button disabled", :id => "amazon_button" %>
      <% end %>
    </div>
    <%= render 'preorder/checkout/sidebar' %>
  </div>


  <div id="perk-menu" class="group perks-selection"><!--graybox -->
    <div class='dynamic_bg' id='no-perk'><input checked="checked" class="fl select-no-perk" data-perk-title="No Perk" id="pledge-perk_id-" name="pledge[perk_id]" type="radio" value="" />
      <label for="pledge-perk_id-">
        <div class="noperk">No perk, I just want to contribute.  </div>
      </label>
      <div class="contributewrap">

        <div id="continue-contribute-loc-noperk"></div><br /><br /><br />

      </div>
    </div>

    <div class=dynamic_bg id="735023">
      <hr class="perkdivider"/>
      <input class="fl select-perk" data-perk-amount="10" data-perk-id="735023" data-perk-title="Hall of Fame" id="pledge-perk_id-735023" name="pledge[perk_id]" type="radio" value="735023" />
      <label for="pledge-perk_id-735023">
        <div class="perkamount notranslate">$10+</div>
      </label>

      <div class="contributewrap">
        <div id="continue-contribute-loc-735023"></div>

        <div class="perk_title notranslate">Hall of Fame</div>

        <div class="perks_claimed">
          7 claimed
        </div>
        <div class="perk_descrip"><span class="notranslate">You'll get our eternal gratitude and a prominent shout-out on the Pinoccio web site. Be a part of making Pinoccio happen! We'll never forget you!</span>
        </div>
        <div class="contribute-perkdelivery">Estimated delivery date: March 2013</div>

        <div class="perk_choices">
        </div>

      </div>
    </div>
  </div>


  <section class="perks">
  <div class="title-bar wrapper clearfix">
    <h2 class="fl title medium">Select your contribution</p>
  </div>
  <ul class="wrapper">
    <style>
        .perk-title {
            font-size: 16px;
        }
        .title {
            font-size: 20px;
        }
        .description.notranslate {
            display: none;
        }
        h2 {
            margin-bottom: 10px;
        }
        .perk {
            margin-bottom: 15px;
        }

    </style>

    <li class="perk rounded shadow"  style="margin-bottom: 20px;">
      <h2 class="title">
        <div class="amount bold">$19</div>
        <div class="amount bold">Early bird (limit to 500)</div>
        <div class="perk-title notranslate">
          One free linquet + One year service + Registration & Shipping
        </div>
      </h2>
      <p class="description notranslate">
        You'll get our eternal gratitude and a prominent shout-out on the linquet site. Be a part of making Linquet happen! We'll never forget you!
      </p>

      <div class="claim clearfix">
        <p class="fl claimed big-perk-button">0 claimed
        </p>
      </div>
    </li>

    <li class="perk rounded shadow">
      <h2 class="title">
        <div class="amount bold">$25</div>
        <div class="perk-title notranslate">
          One free linquet + One year service + Registration & Shipping
        </div>
      </h2>
      <p class="description notranslate">
        You'll get our eternal gratitude and a prominent shout-out on the linquet site. Be a part of making Linquet happen! We'll never forget you!
      </p>

      <div class="claim clearfix">
        <p class="fl claimed big-perk-button">0 claimed
        </p>
      </div>
    </li>

  <a href= '/projects/303586/pledges/new?perk_amt=10&perk_id=735023' class="perk-box-link">
    <li class="perk rounded shadow">
      <h2 class="title">
        <div class="amount bold">$45</div>
        <div class="perk-title notranslate">
          Two free linquets + One year service + Registration & Shipping
        </div>
      </h2>
      <p class="description notranslate">
        You'll get our eternal gratitude and a prominent shout-out on the linquet site. Be a part of making Linquet happen! We'll never forget you!
      </p>

      <div class="claim clearfix">
        <p class="fl claimed big-perk-button">0 claimed
        </p>
      </div>
    </li>
  </a>

  <a href= '/projects/303586/pledges/new?perk_amt=10&perk_id=735023' class="perk-box-link">
    <li class="perk rounded shadow">
      <h2 class="title">
        <div class="amount bold">$85</div>
        <div class="perk-title notranslate">
          Four free linquets + One year service + Registration & Shipping
        </div>
      </h2>
      <p class="description notranslate">
        You'll get our eternal gratitude and a prominent shout-out on the linquet site. Be a part of making Linquet happen! We'll never forget you!
      </p>

      <div class="claim clearfix">
        <p class="fl claimed big-perk-button">0 claimed
        </p>
      </div>
    </li>
  </a>

  <a href= '/projects/303586/pledges/new?perk_amt=10&perk_id=735023' class="perk-box-link">
    <li class="perk rounded shadow">
      <h2 class="title">
        <div class="amount bold">$195</div>
        <div class="perk-title notranslate">
          Ten free linquets + One year service + Registration & Shipping
        </div>
      </h2>
      <p class="description notranslate">
        You'll get our eternal gratitude and a prominent shout-out on the linquet site. Be a part of making Linquet happen! We'll never forget you!
      </p>

      <div class="claim clearfix">
        <p class="fl claimed big-perk-button">0 claimed
        </p>
      </div>
    </li>
  </a>

  </ul>
  </section>


</div>
