<h1>Listing stripes</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Customer token</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stripes.each do |stripe| %>
  <tr>
    <td><%= stripe.email %></td>
    <td><%= stripe.customer_token %></td>
    <td><%= link_to 'Show', stripe %></td>
    <td><%= link_to 'Edit', edit_stripe_path(stripe) %></td>
    <td><%= link_to 'Destroy', stripe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stripe', new_stripe_path %>
