<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @stripe.email %>
</p>

<p>
  <b>Customer token:</b>
  <%= @stripe.customer_token %>
</p>


<%= link_to 'Edit', edit_stripe_path(@stripe) %> |
<%= link_to 'Back', stripes_path %>
